<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>일하는친구들 - 관리자</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="/admin/global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="/admin/global_assets/assets/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/css/admin.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script src="/admin/global_assets/js/main/jquery.min.js"></script>
    <script src="/admin/global_assets/js/main/bootstrap.bundle.min.js"></script>
    <!-- /core JS files -->

    <!-- Core JS files -->
    <script src="/admin/global_assets/assets/js/custom.js"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script src="/admin/global_assets/js/plugins/visualization/d3/d3.min.js"></script>
    <script src="/admin/global_assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
    <script src="/admin/global_assets/js/plugins/ui/moment/moment.min.js"></script>
    <script src="/admin/global_assets/js/plugins/pickers/daterangepicker.js"></script>
    <script src="/admin/global_assets/js/plugins/forms/selects/select2.min.js"></script>
    <script src="/admin/global_assets/js/plugins/uploaders/fileinput/plugins/sortable.min.js"></script>
    <script src="/admin/global_assets/js/plugins/uploaders/fileinput/fileinput.min.js"></script>
    <script src="/admin/global_assets/js/plugins/forms/inputs/duallistbox/duallistbox.min.js"></script>
    <script src="/admin/global_assets/js/plugins/forms/tags/tagsinput.min.js"></script>
    <script src="/admin/global_assets/js/plugins/forms/tags/tokenfield.min.js"></script>
    <script src="/admin/global_assets/js/plugins/media/glightbox.min.js"></script>
    <script src="/admin/global_assets/js/plugins/notifications/bootbox.min.js"></script>




    <script src="/admin/global_assets/assets/js/app.js"></script>

    <script src="/admin/global_assets/js/demo_pages/dashboard.js"></script>
    <script src="/admin/global_assets/js/demo_pages/form_select2.js"></script>
    <script src="/admin/global_assets/js/demo_charts/pages/dashboard/light/streamgraph.js"></script>
    <script src="/admin/global_assets/js/demo_charts/pages/dashboard/light/sparklines.js"></script>
    <script src="/admin/global_assets/js/demo_charts/pages/dashboard/light/lines.js"></script>
    <script src="/admin/global_assets/js/demo_charts/pages/dashboard/light/areas.js"></script>
    <script src="/admin/global_assets/js/demo_charts/pages/dashboard/light/donuts.js"></script>
    <script src="/admin/global_assets/js/demo_charts/pages/dashboard/light/bars.js"></script>
    <script src="/admin/global_assets/js/demo_charts/pages/dashboard/light/progress.js"></script>
    <script src="/admin/global_assets/js/demo_charts/pages/dashboard/light/heatmaps.js"></script>
    <script src="/admin/global_assets/js/demo_charts/pages/dashboard/light/pies.js"></script>
    <script src="/admin/global_assets/js/demo_charts/pages/dashboard/light/bullets.js"></script>
    <script src="/admin/global_assets/js/demo_pages/uploader_bootstrap.js"></script>
    <script src="/admin/global_assets/js/demo_pages/form_dual_listboxes.js"></script>
    <script src="/admin/global_assets/js/demo_pages/form_tags_input.js"></script>
    <script src="/admin/global_assets/js/demo_pages/form_layouts.js"></script>
    <script src="/admin/global_assets/js/demo_pages/gallery.js"></script>
    <script src="/admin/global_assets/js/demo_pages/components_modals.js"></script>

    <!-- /theme JS files -->

    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>

</head>