<!-- Main navbar -->
<div class="navbar navbar-expand-lg navbar-dark navbar-static">
    <div class="d-flex flex-1 d-lg-none">
        <button type="button" class="navbar-toggler sidebar-mobile-main-toggle">
            <i class="icon-transmission"></i>
        </button>
    </div>

    <div class="navbar-brand text-center text-lg-left">
        <a href="/" class="d-inline-block">
            <img src="/admin/images/logo_left_w.png" class="d-none d-sm-block" alt="">
            <img src="/admin/images/logo_left_w.png" class="d-sm-none" alt="">
        </a>
    </div>

    <div class="collapse navbar-collapse order-2 order-lg-1" id="navbar_search">

    </div>

    <div class="order-1 order-lg-2 d-flex flex-1 flex-lg-0 justify-content-end align-items-center">
        <ul class="navbar-nav flex-row align-items-center h-100">
            <li class="nav-item nav-item-dropdown-lg dropdown">
                <a href="#" class="navbar-nav-link navbar-nav-link-toggler" data-toggle="modal" data-target="#notifications">
                    <i class="icon-bell2"></i>
                    <span class="badge badge-warning badge-pill">3</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- /main navbar -->