<%- include ('common/M_layout_top.ejs') %>


<!-- Page header -->
<div class="page-header">
    <div class="breadcrumb-line breadcrumb-line-light header-elements-lg-inline border-bottom">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="index.html" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>홈</a>
                <span class="breadcrumb-item active">대시보드</span>
            </div>

            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>
    </div>

    <div class="page-header-content header-elements-lg-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">홈</span> - 대시보드</h4>
            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>
    </div>
</div>
<!-- /page header -->


<!-- Page content -->
<div class="page-content pt-0">
    <%- include ('common/M_side_nav.ejs') %>
    <!-- Main content -->
    <div class="content-wrapper">

        <!-- Content area -->
        <div class="content">

            <!-- Dashboard content -->
            <div class="row">
                <div class="col-xl-8" >
                    <!-- Task manager table -->
                    <!-- Content area -->
                    <div class="content">

                        <!-- List layout -->
                        <div class="card">
                            <div class="card-header bg-white header-elements-inline">
                                <h6 class="card-title font-weight-bold">입찰 공고 진행중</h6>
                            </div>

                            <ul class="media-list" style="height:800px; overflow-y: scroll;">
                                <li class="media card-body flex-column flex-sm-row"  v-for="repair in repairs">
                                    <div class="mr-sm-3 mb-2 mb-sm-0">
                                        <a href="#">
                                            <img src="../../../../global_assets/images/placeholders/placeholder.jpg" class="rounded" width="44" height="44" alt="">
                                        </a>
                                    </div>
                                    <!-- 보수 -->
                                    <template v-if="repair.plan_type == 0">
                                        <div class="media-body">
                                            <h6 class="media-title font-weight-bold">
                                                <a href="#" class="font-weight-bold" data-toggle="modal" data-target="#modal-repair"> {{ repair.title }}</a>
                                            </h6>
    
                                            <ul class="list-inline list-inline-dotted text-muted mb-2">
                                                <li class="list-inline-item"><a href="#" class="text-muted">{{ repair.brand.name }}</a></li>
                                                <li class="list-inline-item"> {{ repair.store.name }}</li>
                                            </ul>
                                            <p>{{ repair.contents }}</p>
                                        </div>
                                    </template>

                                    <!-- 공사 -->
                                    <template v-else>
                                        <div class="media-body">
                                            <h6 class="media-title font-weight-bold">
                                                <a href="#" class="font-weight-bold" data-toggle="modal" data-target="#modal-repair"> {{ repair.title }}</a>
                                            </h6>
    
                                            <ul class="list-inline list-inline-dotted text-muted mb-2">
                                                <li class="list-inline-item"><a href="#" class="text-muted">{{ repair.c_name }}</a></li>
                                            </ul>
                                            <p>{{ repair.contents }}</p>
                                        </div>
                                    </template>
                                    

                                    <div class="ml-sm-3 mt-2 mt-sm-0">
                                        <span class="badge badge-primary"> {{ (new Date(repair.created_at)).toLocaleDateString() }}  </span>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- /task manager table -->
                </div>
                <div class="col-xl-4 grid-list" >
                    <div class="card-header bg-white header-elements-inline">
                        <h6 class="card-title font-weight-bold">보수/공사 진행중</h6>
                    </div>
                    <ul style="height:800px; overflow-y: scroll;">
                        <li>
                            <div class="card border-left-3 border-left-danger rounded-left-0">

                                <div class="card-body">
                                    <div class="d-sm-flex align-item-sm-center flex-sm-nowrap">
                                        <div>
                                            <span class="badge badge-danger mb-2">공사</span>
                                            <h6 class="font-weight-bold"><a href="#" data-toggle="modal" data-target="#modal-repair">입찰요청서 제목</a></h6>
                                            <ul class="list list-unstyled mb-0">
                                                <li>요청 업체 : <span class="font-weight-bold">일하는친구들 강남점</span></li>
                                                <li>낙찰 업체 : <span class="font-weight-bold">홍길동 인테리어</span></li>
                                                <li>공사 기간 : <span class="font-weight-bold">2022/10/01 ~ 2022/10/30</span></li>
                                                <li>진행 상태 : <span class="font-weight-bold">공사 진행중</span></li>
                                            </ul>
                                        </div>

                                        <div class="text-sm-right mb-0 mt-3 mt-sm-0 ml-auto">
                                            <ul class="list-inline list-inline-condensed mb-0 mt-2 mt-sm-0">
                                                <li class="list-inline-item dropdown">
                                                    <a href="#" class="text-body dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a href="#" class="dropdown-item"><i class="icon-printer"></i> 입찰 요청서</a>
                                                        <a href="#" class="dropdown-item"><i class="icon-printer"></i> 입찰 제안서</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a href="#" class="dropdown-item"><i class="icon-file-download"></i> 작업 계획서</a>
                                                        <a href="#" class="dropdown-item"><i class="icon-file-plus"></i> 작업 완료 보고서</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-footer d-sm-flex justify-content-sm-between align-items-sm-center">
                                    <span>
                                        <span class="badge badge-mark border-danger mr-2"></span>
                                        견적 금액:
                                        <span class="font-weight-semibold">12,000,000 원 </span>
                                    </span>
                                    <ul class="list list-unstyled mb-0">
                                        <a href="#" class="badge badge-danger align-top">스타벅스</a>
                                    </ul>
                                </div>
                                <div class="card-footer d-sm-flex justify-content-sm-between align-items-sm-center">
                                    <span>
                                        <span class="badge badge-mark border-primary mr-2"></span>
                                        정산 금액:
                                        <span class="font-weight-semibold">10,800,000 원 </span>
                                    </span>
                                    <ul class="list list-unstyled mb-0">
                                        <a href="#" class="badge badge-primary align-top" >홍길동 인테리어</a>
                                    </ul>
                                </div>
                                <div class="card-footer d-sm-flex justify-content-sm-between align-items-sm-center">
                                    <span>
                                        <span class="badge badge-mark border-warning mr-2"></span>
                                        수수료:
                                        <span class="font-weight-bold">1,200,000 원 </span>
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card border-left-3 border-left-success rounded-left-0">

                                <div class="card-body">
                                    <div class="d-sm-flex align-item-sm-center flex-sm-nowrap">
                                        <div>
                                            <span class="badge badge-success mb-2">보수</span>
                                            <h6 class="font-weight-bold"><a href="#" data-toggle="modal" data-target="#modal-repair">입찰요청서 제목</a></h6>
                                            <ul class="list list-unstyled mb-0">
                                                <li>요청 업체 : <span class="font-weight-bold">일하는친구들 강남점</span></li>
                                                <li>낙찰 업체 : <span class="font-weight-bold">홍길동 인테리어</span></li>
                                                <li>보수 완료 예정일 : <span class="font-weight-bold">2022/10/01</span></li>
                                                <li>진행 상태: <span class="font-weight-bold">보수 진행중</span></li>
                                            </ul>
                                        </div>

                                        <div class="text-sm-right mb-0 mt-3 mt-sm-0 ml-auto">
                                            <ul class="list-inline list-inline-condensed mb-0 mt-2 mt-sm-0">
                                                <li class="list-inline-item dropdown">
                                                    <a href="#" class="text-body dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>

                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a href="#" class="dropdown-item"><i class="icon-printer"></i> 입찰 요청서</a>
                                                        <a href="#" class="dropdown-item"><i class="icon-printer"></i> 입찰 제안서</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a href="#" class="dropdown-item"><i class="icon-file-download"></i> 작업계획서</a>
                                                        <a href="#" class="dropdown-item"><i class="icon-file-plus"></i> 작업완료보고서</a>
                                                    </div>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>

                                <div class="card-footer d-sm-flex justify-content-sm-between align-items-sm-center">
                                    <span>
                                        <span class="badge badge-mark border-danger mr-2"></span>
                                        견적 금액:
                                        <span class="font-weight-bold">12,000,000 원 </span>
                                    </span>
                                    <ul class="list list-unstyled mb-0">
                                        <a href="#" class="badge badge-danger align-top">스타벅스</a>
                                    </ul>
                                </div>
                                <div class="card-footer d-sm-flex justify-content-sm-between align-items-sm-center">
                                    <span>
                                        <span class="badge badge-mark border-primary mr-2"></span>
                                        정산 금액:
                                        <span class="font-weight-bold">10,800,000 원 </span>
                                    </span>
                                    <ul class="list list-unstyled mb-0">
                                        <a href="#" class="badge badge-primary align-top" >홍길동 인테리어</a>
                                    </ul>
                                </div>
                                <div class="card-footer d-sm-flex justify-content-sm-between align-items-sm-center">
                                    <span>
                                        <span class="badge badge-mark border-warning mr-2"></span>
                                        수수료:
                                        <span class="font-weight-bold">1,200,000 원 </span>
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card border-left-3 border-left-success rounded-left-0">

                                <div class="card-body">
                                    <div class="d-sm-flex align-item-sm-center flex-sm-nowrap">
                                        <div>
                                            <span class="badge badge-success mb-2">보수</span>
                                            <h6 class="font-weight-bold"><a href="#" data-toggle="modal" data-target="#modal-repair">입찰요청서 제목</a></h6>
                                            <ul class="list list-unstyled mb-0">
                                                <li>요청업체 : <span class="font-weight-bold">일하는친구들 강남점</span></li>
                                                <li>보수 금액 : <span class="font-weight-bold">1,000,000 원</span></li>
                                                <li>보수 완료 예정일 : <span class="font-weight-bold">2022/10/01</span></li>
                                                <li>진행 상태: <span class="font-weight-bold">보수 진행중</span></li>

                                            </ul>
                                        </div>

                                        <div class="text-sm-right mb-0 mt-3 mt-sm-0 ml-auto">
                                            <ul class="list-inline list-inline-condensed mb-0 mt-2 mt-sm-0">
                                                <li class="list-inline-item dropdown">
                                                    <a href="#" class="text-body dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>

                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a href="#" class="dropdown-item"><i class="icon-printer"></i> 입찰 요청서</a>
                                                        <a href="#" class="dropdown-item"><i class="icon-printer"></i> 입찰 제안서</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a href="#" class="dropdown-item"><i class="icon-file-download"></i> 작업계획서</a>
                                                        <a href="#" class="dropdown-item"><i class="icon-file-plus"></i> 작업완료보고서</a>
                                                    </div>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>

                                <div class="card-footer d-sm-flex justify-content-sm-between align-items-sm-center">
                                    <span>
                                        <span class="badge badge-mark border-danger mr-2"></span>
                                        견적 금액:
                                        <span class="font-weight-semibold">12,000,000 원 </span>
                                    </span>
                                    <ul class="list list-unstyled mb-0">
                                        <a href="#" class="badge badge-danger align-top">스타벅스</a>
                                    </ul>
                                </div>
                                <div class="card-footer d-sm-flex justify-content-sm-between align-items-sm-center">
                                    <span>
                                        <span class="badge badge-mark border-primary mr-2"></span>
                                        정산 금액:
                                        <span class="font-weight-semibold">10,800,000 원 </span>
                                    </span>
                                    <ul class="list list-unstyled mb-0">
                                        <a href="#" class="badge badge-primary align-top" >홍길동 인테리어</a>
                                    </ul>
                                </div>
                                <div class="card-footer d-sm-flex justify-content-sm-between align-items-sm-center">
                                    <span>
                                        <span class="badge badge-mark border-warning mr-2"></span>
                                        수수료:
                                        <span class="font-weight-bold">1,200,000 원 </span>
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
            <!-- /dashboard content -->


        </div>
        <!-- /content area -->


    </div>
    <!-- /main content -->

</div>
<!-- /page content -->

<!-- Modal 입찰요청서- 보수 -->
<div class="modal fade" id="modal-repair" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="exampleModalLongTitle">강남점 매장 출입구 보수 요청</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card" style="border-right:unset; border-left:unset; ">
                    <div class="border-2 rounded p-3">
                        <dl class="mb-0">
                            <dt class="font-weight-bold">보수 완료일</dt>
                            <dd>2022-08-01</dd>

                            <dt class="font-weight-bold">보수 현장 주소</dt>
                            <dd>서울 특벽시 강남구 삼성동 11-11번지 1층</dd>
                        </dl>
                    </div>
                    <div class="border-2 rounded p-3 mt-3">
                        <dl class="mb-0">
                            <dt class="font-weight-bold">입찰 담당자</dt>
                            <dd>홍길동</dd>

                            <dt class="font-weight-bold">입찰 마감일</dt>
                            <dd>2022-08-01</dd>
                        </dl>
                    </div>
                    <div class="border-2 rounded p-3 mt-3">
                        <dl class="mb-0">
                            <dt class="font-weight-bold">공고 내용</dt>
                            <dd>공고 내용입니다.공고 내용입니다.공고 내용입니다.</dd>
                        </dl>
                    </div>
                    <div class="border-2 rounded p-3 mt-3">
                        <dl class="mb-0">
                            <dt class="font-weight-bold">사진 및 영상</dt>
                            <dd>
                                <div class="row">
                                    <div class="col-sm-6 col-lg-3">
                                        <div class="card">
                                            <div class="card-img-actions m-1">
                                                <img class="card-img img-fluid" src="/admin/global_assets/images/placeholders/placeholder.jpg" alt="">
                                                <div class="card-img-actions-overlay card-img">
                                                    <a href="/admin/global_assets/images/placeholders/placeholder.jpg" class="btn btn-outline-white border-2 btn-icon rounded-pill" data-popup="lightbox" data-gallery="gallery1">
                                                        <i class="icon-plus3"></i>
                                                    </a>

                                                    <a href="#" class="btn btn-outline-white border-2 btn-icon rounded-pill ml-2">
                                                        <i class="icon-link"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-lg-3">
                                        <div class="card">
                                            <div class="card-img-actions m-1">
                                                <img class="card-img img-fluid" src="/admin/global_assets/images/placeholders/placeholder.jpg" alt="">
                                                <div class="card-img-actions-overlay card-img">
                                                    <a href="/admin/global_assets/images/placeholders/placeholder.jpg" class="btn btn-outline-white border-2 btn-icon rounded-pill" data-popup="lightbox" data-gallery="gallery1">
                                                        <i class="icon-plus3"></i>
                                                    </a>

                                                    <a href="#" class="btn btn-outline-white border-2 btn-icon rounded-pill ml-2">
                                                        <i class="icon-link"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-lg-3">
                                        <div class="card">
                                            <div class="card-img-actions m-1">
                                                <img class="card-img img-fluid" src="/admin/global_assets/images/placeholders/placeholder.jpg" alt="">
                                                <div class="card-img-actions-overlay card-img">
                                                    <a href="/admin/global_assets/images/placeholders/placeholder.jpg" class="btn btn-outline-white border-2 btn-icon rounded-pill" data-popup="lightbox" data-gallery="gallery1">
                                                        <i class="icon-plus3"></i>
                                                    </a>

                                                    <a href="#" class="btn btn-outline-white border-2 btn-icon rounded-pill ml-2">
                                                        <i class="icon-link"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-lg-3">
                                        <div class="card">
                                            <div class="card-img-actions m-1">
                                                <img class="card-img img-fluid" src="/admin/global_assets/images/placeholders/placeholder.jpg" alt="">
                                                <div class="card-img-actions-overlay card-img">
                                                    <a href="/admin/global_assets/images/placeholders/placeholder.jpg" class="btn btn-outline-white border-2 btn-icon rounded-pill" data-popup="lightbox" data-gallery="gallery1">
                                                        <i class="icon-plus3"></i>
                                                    </a>

                                                    <a href="#" class="btn btn-outline-white border-2 btn-icon rounded-pill ml-2">
                                                        <i class="icon-link"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div class="border-2 rounded p-3 mt-3">
                        <dl>
                            <dt class="font-weight-bold">첨부자료</dt>
                            <dd>
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item">
                                        <div class="card bg-light py-2 px-3 mt-3 mb-0">
                                            <div class="media my-1">
                                                <div class="mr-3 align-self-center"><i class="icon-file-pdf icon-2x text-danger top-0"></i></div>
                                                <div class="media-body">
                                                    <div class="font-weight-semibold">new_december_offers.pdf</div>

                                                    <ul class="list-inline list-inline-condensed mb-0">
                                                        <li class="list-inline-item text-muted">174 KB</li>
                                                        <li class="list-inline-item"><a href="#">View</a></li>
                                                        <li class="list-inline-item"><a href="#">Download</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-inline-item">
                                        <div class="card bg-light py-2 px-3 mt-3 mb-0">
                                            <div class="media my-1">
                                                <div class="mr-3 align-self-center"><i class="icon-file-pdf icon-2x text-danger top-0"></i></div>
                                                <div class="media-body">
                                                    <div class="font-weight-semibold">assignment_letter.pdf</div>

                                                    <ul class="list-inline list-inline-condensed mb-0">
                                                        <li class="list-inline-item text-muted">736 KB</li>
                                                        <li class="list-inline-item"><a href="#">View</a></li>
                                                        <li class="list-inline-item"><a href="#">Download</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                    <div class="border-2 rounded p-3 mt-3">
                        <dl>
                            <dt class="font-weight-bold">필수 자재</dt>
                            <dd>
                                <ul class="list-group border-x-0 rounded-0 border-top">
                                    <li class="list-group-item">
                                        <span class="font-weight-semibold">자재 A:</span>
                                        <div class="ml-auto font-weight-bold">300,000 원</div>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="font-weight-semibold">자재 B:</span>
                                        <div class="ml-auto font-weight-bold">100,000 원</div>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    <!--                    <button type="button" class="btn btn-primary">Save changes</button>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /modal -->

<%- include ('common/M_layout_bottom.ejs') %>

<script>
    var app = new Vue({
      el: '#vue_app',
      data: {
        curExamMenu: "전체",
        selectedPlan:{},
        repairs:[],
      },
      created() {
        window.Vue = this
        this.getPlans();
       
      },
      mounted() {
        
      },
      methods: {
        getPlans : function() {
            $.ajax({
            url:"http://49.50.160.206:14000/api/v1/plan/client_plans",
            type:"POST",
            body: {
                client_id:'1'
            },
            json:true,
            success: function(result) {
                if (result) {
                    window.Vue.repairs = result//.filter(plan => plan.plan_type == 0)
                    console.log(result)
                    window.Vue.selectedPlan = window.Vue.repairs[0];
                }
            }
          });
        },

        selectMore : function(planModel){
            console.log("====== plan datas :",planModel)
            this.selectedPlan = planModel/*JSON.parse(planModel);*/
            console.log("====== plan id:",this.selectedPlan.id);
        },
      }
  })

</script>