<%- include ('common/M_layout_top.ejs') %>


<!-- Page header -->
<div class="page-header">
    <div class="breadcrumb-line breadcrumb-line-light header-elements-lg-inline border-bottom">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="#" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>홈</a>
                <span class="breadcrumb-item active">보수 리스트</span>
            </div>

            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>
    </div>

    <div class="page-header-content header-elements-lg-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">보수</span> - 진행중</h4>
            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>
    </div>
</div>
<!-- /page header -->


<!-- Page content -->
<div class="page-content pt-0">
    <%- include ('common/M_side_nav.ejs') %>
    <!-- Main content -->
    <div class="content-wrapper">

        <!-- Content area -->
        <div class="content">

            <!-- Dashboard content -->
            <div class="row">
                <div class="col-xl-12">

                    <!-- 보수리스트 -->
                    <div class="card">
                        <div class="card-header header-elements-sm-inline">
                            <h6 class="card-title font-weight-bold">보수 리스트 - 진행중</h6>
                            <div class="header-elements">
                                <span class="badge badge-success badge-pill">5 건 진행중</span>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table text-nowrap">
                                <thead>
                                <tr class="table-active">
                                    <th>브랜드 및 지점</th>
                                    <th>요청일</th>
                                    <th>요청 제목</th>
                                    <th>승인 상태</th>
                                    <th>승인자</th>
                                    <th>승인일</th>
                                    <th>입찰 상태</th>
                                    <th>입찰 마감일</th>
                                    <th>입찰 담당자</th>
                                    <th>보수 진행일</th>
                                    <th>진행 상태</th>
                                    <th class="text-center" style="width: 20px;"><i class="icon-arrow-down12"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="mr-3">
                                                <a href="#">
                                                    <img src="/admin/global_assets/images/brands/mercedes-benz.svg" class="rounded-circle" width="32" height="32" alt="">
                                                </a>
                                            </div>
                                            <div>
                                                <a href="#" class="text-body font-weight-semibold">강남점</a>
                                                <div class="text-muted font-size-sm">
                                                    <span class="badge badge-mark border-primary mr-1"></span>
                                                    메르세데스 벤츠
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td><span class="text-muted">2022-08-01</span></td>
                                    <td><span class="text-muted"><a href="#" data-toggle="modal" data-target="#exampleModalLong">강남점 매장 출입구 보수 요청</a></span></td>
                                    <td><span class="text-success">승인완료</span></td>
                                    <td><span class="font-weight-semibold mb-0">김철수</span></td>
                                    <td><span class="text-muted">2022-08-01</span></td>
                                    <td><a href="#" class="badge badge-pill badge-primary" data-toggle="modal" data-target="#modal-repair">입찰 진행중</a></td>
                                    <td><span class="text-muted">2022-08-01</span></td>
                                    <td><span class="font-weight-semibold mb-0">김철수</span></td>
                                    <td><span class="text-muted">2022-08-01</span></td>
                                    <td><a href="#" class="badge badge-pill badge-primary" data-toggle="modal" data-target="#modal-repair">입찰 진행중</a></td>
                                    <td class="text-center">
                                        <div class="list-icons">
                                            <div class="dropdown">
                                                <a href="#" class="list-icons-item" data-toggle="dropdown"><i class="icon-menu7"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="#" class="dropdown-item" data-toggle="modal" data-target="#exampleModalLong"><i class="icon-file-stats"></i> 보수 요청서 보기</a>
                                                    <a href="#" class="dropdown-item" data-toggle="modal" data-target="#modal-repair"><i class="icon-file-text2"></i> 입찰 요청서 보기</a>
                                                    <a href="#" class="dropdown-item" data-toggle="modal" data-target="#modal_bidding_proposal"><i class="icon-file-locked"></i> 입찰 제안서 보기</a>
                                                    <a href="#" class="dropdown-item"><i class="icon-file-locked"></i> 작업계획서 보기</a>
                                                    <a href="#" class="dropdown-item"><i class="icon-file-locked"></i> 작업완료보고서 보기</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="mr-3">
                                                <a href="#">
                                                    <img src="/admin/global_assets/images/brands/mercedes-benz.svg" class="rounded-circle" width="32" height="32" alt="">
                                                </a>
                                            </div>
                                            <div>
                                                <a href="#" class="text-body font-weight-semibold">강남점</a>
                                                <div class="text-muted font-size-sm">
                                                    <span class="badge badge-mark border-primary mr-1"></span>
                                                    메르세데스 벤츠
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td><span class="text-muted">2022-08-01</span></td>
                                    <td><span class="text-muted"><a href="#">강남점 매장 출입구 보수 요청</a></span></td>
                                    <td><span class="text-success">승인완료</span></td>
                                    <td><span class="font-weight-semibold mb-0">김철수</span></td>
                                    <td><span class="text-muted">2022-08-01</span></td>
                                    <td><a href="#" class="badge badge-pill badge-danger" data-toggle="modal" data-target="#modal_bidding_proposal">입찰 마감</a></td>
                                    <td><span class="text-muted">2022-08-01</span></td>
                                    <td><span class="font-weight-semibold mb-0">김철수</span></td>
                                    <td><span class="text-muted">2022-08-01</span></td>
                                    <td><a href="#" class="badge badge-warning" data-toggle="modal" data-target="#modal-repair-plan">보수 진행중</a></td>
                                    <td class="text-center">
                                        <div class="list-icons">
                                            <div class="dropdown">
                                                <a href="#" class="list-icons-item" data-toggle="dropdown"><i class="icon-menu7"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="#" class="dropdown-item"><i class="icon-file-stats"></i> 보수 요청서 보기</a>
                                                    <a href="#" class="dropdown-item"><i class="icon-file-text2"></i> 입찰 요청서 보기</a>
                                                    <a href="#" class="dropdown-item"><i class="icon-file-locked"></i> 입찰 제안서 보기</a>
                                                    <a href="#" class="dropdown-item"><i class="icon-file-locked"></i> 작업계획서 보기</a>
                                                    <a href="#" class="dropdown-item"><i class="icon-file-locked"></i> 작업완료보고서 보기</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="mr-3">
                                                <a href="#">
                                                    <img src="/admin/global_assets/images/brands/mercedes-benz.svg" class="rounded-circle" width="32" height="32" alt="">
                                                </a>
                                            </div>
                                            <div>
                                                <a href="#" class="text-body font-weight-semibold">강남점</a>
                                                <div class="text-muted font-size-sm">
                                                    <span class="badge badge-mark border-primary mr-1"></span>
                                                    메르세데스 벤츠
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td><span class="text-muted">2022-08-01</span></td>
                                    <td><span class="text-muted"><a href="#">강남점 매장 출입구 보수 요청</a></span></td>
                                    <td><span class="text-success">승인완료</span></td>
                                    <td><span class="font-weight-semibold mb-0">김철수</span></td>
                                    <td><span class="text-muted">2022-08-01</span></td>
                                    <td><a href="#" class="badge badge-pill badge-danger" data-toggle="modal" data-target="#modal_bidding_proposal">입찰 마감</a></td>
                                    <td><span class="text-muted">2022-08-01</span></td>
                                    <td><span class="font-weight-semibold mb-0">김철수</span></td>
                                    <td><span class="text-muted">2022-08-01</span></td>
                                    <td><a href="#" class="badge badge-success" data-toggle="modal" data-target="#modal-repair-plan">보수 예정</a></td>
                                    <td class="text-center">
                                        <div class="list-icons">
                                            <div class="dropdown">
                                                <a href="#" class="list-icons-item" data-toggle="dropdown"><i class="icon-menu7"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="#" class="dropdown-item"><i class="icon-file-stats"></i> 보수 요청서 보기</a>
                                                    <a href="#" class="dropdown-item"><i class="icon-file-text2"></i> 입찰 요청서 보기</a>
                                                    <a href="#" class="dropdown-item"><i class="icon-file-locked"></i> 입찰 제안서 보기</a>
                                                    <a href="#" class="dropdown-item"><i class="icon-file-locked"></i> 작업계획서 보기</a>
                                                    <a href="#" class="dropdown-item"><i class="icon-file-locked"></i> 작업완료보고서 보기</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="mr-3">
                                                <a href="#">
                                                    <img src="/admin/global_assets/images/brands/mercedes-benz.svg" class="rounded-circle" width="32" height="32" alt="">
                                                </a>
                                            </div>
                                            <div>
                                                <a href="#" class="text-body font-weight-semibold">강남점</a>
                                                <div class="text-muted font-size-sm">
                                                    <span class="badge badge-mark border-primary mr-1"></span>
                                                    메르세데스 벤츠
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td><span class="text-muted">2022-08-01</span></td>
                                    <td><span class="text-muted"><a href="#">강남점 매장 출입구 보수 요청</a></span></td>
                                    <td><span class="text-success">승인완료</span></td>
                                    <td><span class="font-weight-semibold mb-0">김철수</span></td>
                                    <td><span class="text-muted">2022-08-01</span></td>
                                    <td><span class="badge badge-pill badge-info">입찰 등록 예정</span></td>
                                    <td><span class="text-muted">2022-08-01</span></td>
                                    <td><span class="font-weight-semibold mb-0">김철수</span></td>
                                    <td><span class="text-muted">2022-08-01</span></td>
                                    <td><span class="badge badge-info">입찰 등록 예정</span></td>
                                    <td class="text-center">
                                        <div class="list-icons">
                                            <div class="dropdown">
                                                <a href="#" class="list-icons-item" data-toggle="dropdown"><i class="icon-menu7"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="#" class="dropdown-item"><i class="icon-file-stats"></i> 보수 요청서 보기</a>
                                                    <a href="#" class="dropdown-item"><i class="icon-file-text2"></i> 입찰 요청서 보기</a>
                                                    <a href="#" class="dropdown-item"><i class="icon-file-locked"></i> 입찰 제안서 보기</a>
                                                    <a href="#" class="dropdown-item"><i class="icon-file-locked"></i> 작업계획서 보기</a>
                                                    <a href="#" class="dropdown-item"><i class="icon-file-locked"></i> 작업완료보고서 보기</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="mr-3">
                                                <a href="#">
                                                    <img src="/admin/global_assets/images/brands/mercedes-benz.svg" class="rounded-circle" width="32" height="32" alt="">
                                                </a>
                                            </div>
                                            <div>
                                                <a href="#" class="text-body font-weight-semibold">강남점</a>
                                                <div class="text-muted font-size-sm">
                                                    <span class="badge badge-mark border-primary mr-1"></span>
                                                    메르세데스 벤츠
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td><span class="text-muted">2022-08-01</span></td>
                                    <td><span class="text-muted"><a href="#">강남점 매장 출입구 보수 요청</a></span></td>
                                    <td><span class="text-danger">미승인</span></td>
                                    <td><span class="font-weight-semibold mb-0">김철수</span></td>
                                    <td><span class="text-muted">-</span></td>
                                    <td><span class="badge badge-pill badge-info">입찰 등록 예정</span></td>
                                    <td><span class="text-muted">-</span></td>
                                    <td><span class="font-weight-semibold mb-0">김철수</span></td>
                                    <td><span class="text-muted">-</span></td>
                                    <td><span class="badge badge-dark">승인 진행중</span></td>
                                    <td class="text-center">
                                        <div class="list-icons">
                                            <div class="dropdown">
                                                <a href="#" class="list-icons-item" data-toggle="dropdown"><i class="icon-menu7"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="#" class="dropdown-item"><i class="icon-file-stats"></i> 보수 요청서 보기</a>
                                                    <a href="#" class="dropdown-item"><i class="icon-file-text2"></i> 입찰 요청서 보기</a>
                                                    <a href="#" class="dropdown-item"><i class="icon-file-locked"></i> 입찰 제안서 보기</a>
                                                    <a href="#" class="dropdown-item"><i class="icon-file-locked"></i> 작업계획서 보기</a>
                                                    <a href="#" class="dropdown-item"><i class="icon-file-locked"></i> 작업완료보고서 보기</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!-- /보수 리스트 -->
                </div>
                <!-- /dashboard content -->

            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

    <!-- Modal 보수 요청서-->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header bg-warning text-white">
                    <h5 class="modal-title font-weight-bold mb-0" id="exampleModalLongTitle">보수 요청서</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card" style="border-right:unset; border-left:unset; ">
                        <div class="border-2 rounded p-3">
                            <dl class="mb-0">
                                <dt><h6 class="font-weight-bold">보수 요청 제목</h6></dt>
                                <dd>강남정 매장 출입구 보수 요청</dd>

                                <dt><h6 class="font-weight-bold">보수 요청 내용</h6></dt>
                                <dd>보수 요청 내용입니다.보수 요청 내용입니다.보수 요청 내용입니다.보수 요청 내용입니다.</dd>
                            </dl>
                        </div>
                        <div class="border-2 rounded p-3 mt-3">
                            <dl class="mb-0">
                                <dt><h6 class="font-weight-bold">사진 및 영상</h6></dt>
                                <dd>
                                    <div class="row">
                                        <div class="col-sm-6 col-lg-3">
                                            <div class="card">
                                                <div class="card-img-actions m-1">
                                                    <img class="card-img img-fluid" src="/admin/global_assets/images/placeholders/placeholder.jpg" alt="">
                                                    <div class="card-img-actions-overlay card-img">
                                                        <a href="/admin/global_assets/images/placeholders/placeholder.jpg" class="btn btn-outline-white border-2 btn-icon rounded-pill" data-popup="lightbox" data-gallery="gallery1">
                                                            <i class="icon-plus3"></i>
                                                        </a>

                                                        <a href="#" class="btn btn-outline-white border-2 btn-icon rounded-pill ml-2">
                                                            <i class="icon-link"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-lg-3">
                                            <div class="card">
                                                <div class="card-img-actions m-1">
                                                    <img class="card-img img-fluid" src="/admin/global_assets/images/placeholders/placeholder.jpg" alt="">
                                                    <div class="card-img-actions-overlay card-img">
                                                        <a href="/admin/global_assets/images/placeholders/placeholder.jpg" class="btn btn-outline-white border-2 btn-icon rounded-pill" data-popup="lightbox" data-gallery="gallery1">
                                                            <i class="icon-plus3"></i>
                                                        </a>

                                                        <a href="#" class="btn btn-outline-white border-2 btn-icon rounded-pill ml-2">
                                                            <i class="icon-link"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-lg-3">
                                            <div class="card">
                                                <div class="card-img-actions m-1">
                                                    <img class="card-img img-fluid" src="/admin/global_assets/images/placeholders/placeholder.jpg" alt="">
                                                    <div class="card-img-actions-overlay card-img">
                                                        <a href="/admin/global_assets/images/placeholders/placeholder.jpg" class="btn btn-outline-white border-2 btn-icon rounded-pill" data-popup="lightbox" data-gallery="gallery1">
                                                            <i class="icon-plus3"></i>
                                                        </a>

                                                        <a href="#" class="btn btn-outline-white border-2 btn-icon rounded-pill ml-2">
                                                            <i class="icon-link"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-lg-3">
                                            <div class="card">
                                                <div class="card-img-actions m-1">
                                                    <img class="card-img img-fluid" src="/admin/global_assets/images/placeholders/placeholder.jpg" alt="">
                                                    <div class="card-img-actions-overlay card-img">
                                                        <a href="/admin/global_assets/images/placeholders/placeholder.jpg" class="btn btn-outline-white border-2 btn-icon rounded-pill" data-popup="lightbox" data-gallery="gallery1">
                                                            <i class="icon-plus3"></i>
                                                        </a>

                                                        <a href="#" class="btn btn-outline-white border-2 btn-icon rounded-pill ml-2">
                                                            <i class="icon-link"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        <!--                    <button type="button" class="btn btn-primary">Save changes</button>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- /modal 보수요청서-->

    </div>
    <!-- modal 입찰제안서-->
    <div id="modal_bidding_proposal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-full">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title font-weight-bold">입찰 제안서 목록</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-header bg-white d-flex justify-content-between">
                                    <span class="font-weight-bold">시공업체명
                                        <span class="d-inline-flex align-items-center pl-1">
										<i class="icon-star-full2 font-size-base text-warning ml-1"></i>
										<i class="icon-star-full2 font-size-base text-warning ml-1"></i>
										<i class="icon-star-full2 font-size-base text-warning ml-1"></i>
										<i class="icon-star-full2 font-size-base text-warning ml-1"></i>
										<i class="icon-star-full2 font-size-base text-warning ml-1"></i>
										<span class="text-muted ml-2">(24)</span>
									    </span>
                                    </span>

                                    <span class="badge badge-danger font-weight-bold">최저 견적</span>
                                </div>
                                <div class="card-body">
                                    <ul class="list-group border-x-0 rounded-0 border-top">
                                        <li class="list-group-item">
                                            <span class="font-weight-semibold">인건비:</span>
                                            <div class="ml-auto font-weight-bold">3,000,000 원</div>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="font-weight-semibold">자재비:</span>
                                            <div class="ml-auto font-weight-bold">1,000,000 원</div>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="font-weight-semibold">철거비:</span>
                                            <div class="ml-auto font-weight-bold">1,000,000 원</div>
                                        </li>
                                    </ul>
                                    <ul class="list-group border-x-0 rounded-0 border-top">
                                        <li class="list-group-item">
                                            <h5 class="font-weight-bold">최종 견적 금액:</h5>
                                            <h3 class="ml-auto font-weight-bold text-success">5,000,000 원</h3>
                                        </li>
                                    </ul>
                                    <blockquote class="blockquote d-flex py-2 mb-0">
                                        <div class="mr-3 align-self-start">
                                            <i class="icon-comment-discussion icon-3x text-muted opacity-25"></i>
                                        </div>

                                        <div>
                                            <p class="mb-1">견적 비고 내용입니다.견적 비고 내용입니다.견적 비고 내용입니다.견적 비고 내용입니다.</p>
                                        </div>
                                    </blockquote>
                                </div>

                                <div class="card-footer bg-white d-flex justify-content-between">
                                    <span class="text-muted">서울특별시 강남구 삼성동 11-1 번지 1층</span>

                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item"><a href="#">업체 낙찰</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-header bg-white d-flex justify-content-between">
                                    <span class="font-weight-bold">시공업체명
                                        <span class="d-inline-flex align-items-center pl-1">
										<i class="icon-star-full2 font-size-base text-warning ml-1"></i>
										<i class="icon-star-full2 font-size-base text-warning ml-1"></i>
										<i class="icon-star-full2 font-size-base text-warning ml-1"></i>
										<i class="icon-star-full2 font-size-base text-warning ml-1"></i>
										<i class="icon-star-full2 font-size-base text-warning ml-1"></i>
										<span class="text-muted ml-2">(24)</span>
									    </span>
                                    </span>

                                    <span class="text-danger font-weight-semibold"></span>
                                </div>
                                <div class="card-body">
                                    <ul class="list-group border-x-0 rounded-0 border-top">
                                        <li class="list-group-item">
                                            <span class="font-weight-semibold">인건비:</span>
                                            <div class="ml-auto font-weight-bold">3,000,000 원</div>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="font-weight-semibold">자재비:</span>
                                            <div class="ml-auto font-weight-bold">1,000,000 원</div>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="font-weight-semibold">철거비:</span>
                                            <div class="ml-auto font-weight-bold">1,000,000 원</div>
                                        </li>
                                    </ul>
                                    <ul class="list-group border-x-0 rounded-0 border-top">
                                        <li class="list-group-item">
                                            <h5 class="font-weight-bold">최종 견적 금액:</h5>
                                            <h3 class="ml-auto font-weight-bold text-success">5,000,000 원</h3>
                                        </li>
                                    </ul>
                                    <blockquote class="blockquote d-flex py-2 mb-0">
                                        <div class="mr-3 align-self-start">
                                            <i class="icon-comment-discussion icon-3x text-muted opacity-25"></i>
                                        </div>

                                        <div>
                                            <p class="mb-1">견적 비고 내용입니다.견적 비고 내용입니다.견적 비고 내용입니다.견적 비고 내용입니다.</p>
                                        </div>
                                    </blockquote>
                                </div>
                                <div class="card-footer bg-white d-flex justify-content-between">
                                    <span class="text-muted">서울특별시 강남구 삼성동 11-1 번지 1층</span>

                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item"><a href="#">업체 낙찰</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-header bg-white d-flex justify-content-between">
                                    <span class="font-weight-bold">시공업체명
                                        <span class="d-inline-flex align-items-center pl-1">
										<i class="icon-star-full2 font-size-base text-warning ml-1"></i>
										<i class="icon-star-full2 font-size-base text-warning ml-1"></i>
										<i class="icon-star-full2 font-size-base text-warning ml-1"></i>
										<i class="icon-star-full2 font-size-base text-warning ml-1"></i>
										<i class="icon-star-full2 font-size-base text-warning ml-1"></i>
										<span class="text-muted ml-2">(24)</span>
									    </span>
                                    </span>

                                    <span class="text-danger font-weight-semibold"></span>
                                </div>
                                <div class="card-body">
                                    <ul class="list-group border-x-0 rounded-0 border-top">
                                        <li class="list-group-item">
                                            <span class="font-weight-semibold">인건비:</span>
                                            <div class="ml-auto font-weight-bold">3,000,000 원</div>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="font-weight-semibold">자재비:</span>
                                            <div class="ml-auto font-weight-bold">1,000,000 원</div>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="font-weight-semibold">철거비:</span>
                                            <div class="ml-auto font-weight-bold">1,000,000 원</div>
                                        </li>
                                    </ul>
                                    <ul class="list-group border-x-0 rounded-0 border-top">
                                        <li class="list-group-item">
                                            <h5 class="font-weight-bold">최종 견적 금액:</h5>
                                            <h3 class="ml-auto font-weight-bold text-success">5,000,000 원</h3>
                                        </li>
                                    </ul>
                                    <blockquote class="blockquote d-flex py-2 mb-0">
                                        <div class="mr-3 align-self-start">
                                            <i class="icon-comment-discussion icon-3x text-muted opacity-25"></i>
                                        </div>

                                        <div>
                                            <p class="mb-1">견적 비고 내용입니다.견적 비고 내용입니다.견적 비고 내용입니다.견적 비고 내용입니다.</p>
                                        </div>
                                    </blockquote>
                                </div>

                                <div class="card-footer bg-white d-flex justify-content-between">
                                    <span class="text-muted">서울특별시 강남구 삼성동 11-1 번지 1층</span>

                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item"><a href="#">업체 낙찰</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">유찰</button>

                    <button type="button" class="btn btn-link" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /modal -->
    <!-- Modal 입찰요청서- 보수 -->
    <div class="modal fade" id="modal-repair" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold" id="exampleModalLongTitle">강남점 매장 출입구 보수 요청</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card" style="border-right:unset; border-left:unset; ">
                        <div class="border-2 rounded p-3">
                            <dl class="mb-0">
                                <dt class="font-weight-bold">보수 완료일</dt>
                                <dd>2022-08-01</dd>

                                <dt class="font-weight-bold">보수 현장 주소</dt>
                                <dd>서울 특벽시 강남구 삼성동 11-11번지 1층</dd>
                            </dl>
                        </div>
                        <div class="border-2 rounded p-3 mt-3">
                            <dl class="mb-0">
                                <dt class="font-weight-bold">입찰 담당자</dt>
                                <dd>홍길동</dd>

                                <dt class="font-weight-bold">입찰 마감일</dt>
                                <dd>2022-08-01</dd>
                            </dl>
                        </div>
                        <div class="border-2 rounded p-3 mt-3">
                            <dl class="mb-0">
                                <dt class="font-weight-bold">공고 내용</dt>
                                <dd>공고 내용입니다.공고 내용입니다.공고 내용입니다.</dd>
                            </dl>
                        </div>
                        <div class="border-2 rounded p-3 mt-3">
                            <dl class="mb-0">
                                <dt class="font-weight-bold">사진 및 영상</dt>
                                <dd>
                                    <div class="row">
                                        <div class="col-sm-6 col-lg-3">
                                            <div class="card">
                                                <div class="card-img-actions m-1">
                                                    <img class="card-img img-fluid" src="/admin/global_assets/images/placeholders/placeholder.jpg" alt="">
                                                    <div class="card-img-actions-overlay card-img">
                                                        <a href="/admin/global_assets/images/placeholders/placeholder.jpg" class="btn btn-outline-white border-2 btn-icon rounded-pill" data-popup="lightbox" data-gallery="gallery1">
                                                            <i class="icon-plus3"></i>
                                                        </a>

                                                        <a href="#" class="btn btn-outline-white border-2 btn-icon rounded-pill ml-2">
                                                            <i class="icon-link"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-lg-3">
                                            <div class="card">
                                                <div class="card-img-actions m-1">
                                                    <img class="card-img img-fluid" src="/admin/global_assets/images/placeholders/placeholder.jpg" alt="">
                                                    <div class="card-img-actions-overlay card-img">
                                                        <a href="/admin/global_assets/images/placeholders/placeholder.jpg" class="btn btn-outline-white border-2 btn-icon rounded-pill" data-popup="lightbox" data-gallery="gallery1">
                                                            <i class="icon-plus3"></i>
                                                        </a>

                                                        <a href="#" class="btn btn-outline-white border-2 btn-icon rounded-pill ml-2">
                                                            <i class="icon-link"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-lg-3">
                                            <div class="card">
                                                <div class="card-img-actions m-1">
                                                    <img class="card-img img-fluid" src="/admin/global_assets/images/placeholders/placeholder.jpg" alt="">
                                                    <div class="card-img-actions-overlay card-img">
                                                        <a href="/admin/global_assets/images/placeholders/placeholder.jpg" class="btn btn-outline-white border-2 btn-icon rounded-pill" data-popup="lightbox" data-gallery="gallery1">
                                                            <i class="icon-plus3"></i>
                                                        </a>

                                                        <a href="#" class="btn btn-outline-white border-2 btn-icon rounded-pill ml-2">
                                                            <i class="icon-link"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-lg-3">
                                            <div class="card">
                                                <div class="card-img-actions m-1">
                                                    <img class="card-img img-fluid" src="/admin/global_assets/images/placeholders/placeholder.jpg" alt="">
                                                    <div class="card-img-actions-overlay card-img">
                                                        <a href="/admin/global_assets/images/placeholders/placeholder.jpg" class="btn btn-outline-white border-2 btn-icon rounded-pill" data-popup="lightbox" data-gallery="gallery1">
                                                            <i class="icon-plus3"></i>
                                                        </a>

                                                        <a href="#" class="btn btn-outline-white border-2 btn-icon rounded-pill ml-2">
                                                            <i class="icon-link"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <div class="border-2 rounded p-3 mt-3">
                            <dl>
                                <dt class="font-weight-bold">첨부자료</dt>
                                <dd>
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                            <div class="card bg-light py-2 px-3 mt-3 mb-0">
                                                <div class="media my-1">
                                                    <div class="mr-3 align-self-center"><i class="icon-file-pdf icon-2x text-danger top-0"></i></div>
                                                    <div class="media-body">
                                                        <div class="font-weight-semibold">new_december_offers.pdf</div>

                                                        <ul class="list-inline list-inline-condensed mb-0">
                                                            <li class="list-inline-item text-muted">174 KB</li>
                                                            <li class="list-inline-item"><a href="#">View</a></li>
                                                            <li class="list-inline-item"><a href="#">Download</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-inline-item">
                                            <div class="card bg-light py-2 px-3 mt-3 mb-0">
                                                <div class="media my-1">
                                                    <div class="mr-3 align-self-center"><i class="icon-file-pdf icon-2x text-danger top-0"></i></div>
                                                    <div class="media-body">
                                                        <div class="font-weight-semibold">assignment_letter.pdf</div>

                                                        <ul class="list-inline list-inline-condensed mb-0">
                                                            <li class="list-inline-item text-muted">736 KB</li>
                                                            <li class="list-inline-item"><a href="#">View</a></li>
                                                            <li class="list-inline-item"><a href="#">Download</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                        <div class="border-2 rounded p-3 mt-3">
                            <dl>
                                <dt class="font-weight-bold">필수 자재</dt>
                                <dd>
                                    <ul class="list-group border-x-0 rounded-0 border-top">
                                        <li class="list-group-item">
                                            <span class="font-weight-semibold">자재 A:</span>
                                            <div class="ml-auto font-weight-bold">300,000 원</div>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="font-weight-semibold">자재 B:</span>
                                            <div class="ml-auto font-weight-bold">100,000 원</div>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        <!--                    <button type="button" class="btn btn-primary">Save changes</button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /modal -->

    <!-- Modal - 작업계획서 -->
    <div class="modal fade" id="modal-repair-plan" tabindex="-1" role="dialog" aria-labelledby="modal-plan" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold" id="modal-plan">작업 계획서</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card" style="border-right:unset; border-left:unset; ">
                        <div class="border-2 rounded p-3">
                            <dl class="mb-0">
                                <dt class="font-weight-bold">보수 업체명</dt>
                                <dd>일하는 친구들 시공업체</dd>

                                <dt class="font-weight-bold">연락처</dt>
                                <dd>010-1234-5678</dd>

                                <dt class="font-weight-bold">업체 주소</dt>
                                <dd>서울 특벽시 강남구 삼성동 11-11번지 1층</dd>
                            </dl>
                        </div>
                        <div class="border-2 rounded p-3 mt-3">
                            <dl class="mb-0">
                                <dt class="font-weight-bold">작업 예정일</dt>
                                <dd>2022-09-01 ~ 2022-09-01</dd>

                                <dt class="font-weight-bold">작업 예정 시간</dt>
                                <dd>22:00 ~ 02:00</dd>

                                <dt class="font-weight-bold">작업 내용</dt>
                                <dd>작업 예정 내용입니다.작업 예정 내용입니다.작업 예정 내용입니다.작업 예정 내용입니다.</dd>
                            </dl>
                        </div>
                        <div class="border-2 rounded p-3 mt-3">
                            <div class="row">
                                <div class="col-sm-6">
                                    <dl class="mb-0">
                                        <dt class="font-weight-bold">작업자 이름</dt>
                                        <dd>홍길동</dd>

                                        <dt class="font-weight-bold">작업자 연락처</dt>
                                        <dd>010-1234-5678</dd>
                                    </dl>
                                </div>
                                <div class="col-sm-6">
                                    <dl class="mb-0">
                                        <dt class="font-weight-bold">작업자 주민등록번호</dt>
                                        <dd>808080-1******</dd>

                                        <dt class="font-weight-bold">작업자 차량번호</dt>
                                        <dd>123가1234</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="border-2 rounded p-3 mt-3">
                            <div class="row">
                                <div class="col-sm-6">
                                    <dl class="mb-0">
                                        <dt class="font-weight-bold">작업자 이름</dt>
                                        <dd>홍길동</dd>

                                        <dt class="font-weight-bold">작업자 연락처</dt>
                                        <dd>010-1234-5678</dd>
                                    </dl>
                                </div>
                                <div class="col-sm-6">
                                    <dl class="mb-0">
                                        <dt class="font-weight-bold">작업자 주민등록번호</dt>
                                        <dd>808080-1******</dd>

                                        <dt class="font-weight-bold">작업자 차량번호</dt>
                                        <dd>123가1234</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="border-2 rounded p-3 mt-3">
                            <div class="row">
                                <div class="col-sm-6">
                                    <dl class="mb-0">
                                        <dt class="font-weight-bold">작업자 이름</dt>
                                        <dd>홍길동</dd>

                                        <dt class="font-weight-bold">작업자 연락처</dt>
                                        <dd>010-1234-5678</dd>
                                    </dl>
                                </div>
                                <div class="col-sm-6">
                                    <dl class="mb-0">
                                        <dt class="font-weight-bold">작업자 주민등록번호</dt>
                                        <dd>808080-1******</dd>

                                        <dt class="font-weight-bold">작업자 차량번호</dt>
                                        <dd>123가1234</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        <!--                    <button type="button" class="btn btn-primary">Save changes</button>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- /modal -->



        <!-- /notifications -->
<%- include ('common/M_layout_bottom.ejs') %>