<%- include ('common/M_layout_top.ejs') %>


<!-- Page header -->
<div class="page-header">
    <div class="breadcrumb-line breadcrumb-line-light header-elements-lg-inline border-bottom">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="#" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>홈</a>
                <span class="breadcrumb-item active">보수 입찰관리</span>
            </div>

            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>
    </div>

    <div class="page-header-content header-elements-lg-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">보수 입찰관리</span> - 보수 요청서 등록</h4>
            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>
    </div>
</div>
<!-- /page header -->


<!-- Page content -->
<div class="page-content pt-0">
    <%- include ('common/M_side_nav.ejs') %>
    <!-- Main content -->
    <div class="content-wrapper">

        <!-- Content area -->
        <div class="content">

            <!-- Dashboard content -->
            <div class="row">
                <div class="col-xl-12">

                    <!-- 보수 요청서 -->
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title font-weight-bold">보수 요청서 등록</h5>
                        </div>

                        <div class="card-body">
                            <form action="#">
                                <fieldset>
                                    <div class="form-group row">
                                        <label class="col-form-label col-lg-2">보수 브랜드 선택</label>
                                        <div class="col-lg-10">
                                            <select class="form-control select" data-fouc>
                                                <option value="AZ">메르세데스</option>
                                                <option value="CO">테슬라</option>
                                                <option value="ID">BMW</option>
                                                <option value="WY">혼다</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-lg-2">지점 선택</label>
                                        <div class="col-lg-10">
                                            <select class="form-control select" data-fouc>
                                                <option value="AZ">강남점</option>
                                                <option value="CO">서초점</option>
                                                <option value="ID">판교점</option>
                                                <option value="WY">양재점</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-lg-2">요청서 제목</label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control form-control-filled font-weight-bold" placeholder="요청서 제목을 입력해주세요.">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-lg-2">요청서 내용</label>
                                        <div class="col-lg-10">
                                            <textarea rows="3" cols="3" class="form-control form-control-filled" placeholder="요청서 내용을 입력해주세요."></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label font-weight-semibold">사진 및 영상</label>
                                        <div class="col-lg-10">
                                            <input type="file" class="file-input" data-browse-on-zone-click="true" multiple="multiple" data-fouc>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="text-center py-5">
                                    <button type="submit" class="btn btn-block btn-warning btn-lg">요청서 등록 <i class="icon-paperplane ml-2"></i></button>
                                </div>
                            </form>

                        </div>
                        <!-- /보수 요청서 -->
                    </div>
                    <!-- /dashboard content -->

                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->



        <!-- /notifications -->
<%- include ('common/M_layout_bottom.ejs') %>